<div id="plate-grid">
  <div id="la-plate-grid">
    <!--<div *ngFor="let hero of heroes"> </div>-->
    <div class="row">
      <span class="cell"></span>
      <span class="cell"></span>
      <span class="cell"></span>
    </div>
    <div class="row">
      <span class="cell"></span>
      <span class="cell"></span>
      <span class="cell"></span>
    </div>
    <div class="row">
      <span class="cell"></span>
      <span class="cell"></span>
      <span class="cell"></span>
    </div>
  </div>
</div>
